
.container p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.breadcrumbs {

    position:"relative";
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.breadcrumbs ul{
    padding:0px;
}

.breadcrumbs a{

    font-family: "Roboto",sans-serif;
}

.breadcrumbs li {
    display: inline-block;
    text-align: left;
}


.active_link {
    color: lightcoral;
}


.content h1 {

    font-size: 40px;
    font-weight: 700;

}

.content h2 {

    font-size: 30px;
    font-weight: 600;

}