.side-slider .slide-btn {
    position: fixed;
    /* top: 200px; */
    /* left: -35px; */
    right: 0;
    margin-top: 6px;
    padding: 10px 5px;
    border: 0;
    border-radius: 5px 0 0 5px;
    background: #d71219;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    cursor: pointer;
    z-index: 100;
}

.chatbot-wrapp {
    position: fixed;
    /* bo */
    bottom: 15px;
    border-radius: 50%;
    background: #d71219;
    z-index: 100;
    right: 10px;
    background-image: url(/public//assets/img/chatbot.jpg);
    background-size: cover;
    cursor: pointer;
}

.chat-img {
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    --primary-color: #2000F0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E3E3E3;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 0;
    background-color: transparent;
    width: 60px;
    height: 60px;
    line-height: 60px;
    pointer-events: none;
}