.footer-wrap {
    width: 100%;
    background: #1a1a1a;
    /* text-align: center; */
}

.text-wrap h4 {
    font-size: 16px;
    line-height: 40px;
    color: #dedede;
}

.text-wrap h5 {
    margin-bottom: 0.625rem;
    color: #999;
}

.text-wrap h5 {
    font-size: 12px;
    line-height: 20px;
}

.text-wrap a {
    margin-right: 5px;
    color: #fff;
}

.text-wrap img {

    /* width: 100%; */
    transition: all .3;
    -webkit-filter: saturate(0) brightness(90%) contrast(50%);
    filter: saturate(0) brightness(90%) contrast(50%);
}

.logo {
    display: inline-block;
    position: relative;
    top: 0;
    width: 150px;
    height: 50px;
    margin-right: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link-wrap li {
    padding: 0 0.9375rem;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.link-wrap a {
    font-size: 14px;
    line-height: 20px;
    color: #dedede;
}

.footer-bottom p {
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, .5);
}

