.hero-wrapper {
    position: sticky;
    top: 0;
}

.header-inner {
    line-height: 1.875rem;
}


.language {
    /* width: auto; */
    cursor: pointer;
    height: 100%;
    line-height: 1.8125rem;
    position: relative;
    z-index: 5;
    width: 10rem;
    background-color: #333;
}

.language img {
    width: 1.4375rem;
    height: auto;
    margin: 0.1875rem 0.3125rem 0 0;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(9, 13, 26, .4);
}

header .logo {
    width: 150px;
}

.btn-2nd {

    background: linear-gradient(to right, #4e916d 0, #5dac81 15%, #5dac81 30%, #4e916d 55%, #4e916d 100%);
    background-position: 50%0;
    background-size: 200%;
    box-shadow: 0 5px 10px 0 rgba(93, 172, 129, .1), inset 0 0 3px 0#77b79a;
    color: #fff;
}

.btn-2nd {
    display: inline-block;
    height: 2rem;
    position: relative;
    padding: 0 2rem;
    overflow: hidden;
    transition: box-shadow .5s ease-out .1s, background-position .3s ease-in, text-shadow .3s ease-in .1s;
}

.btn-default {
    padding: 0 2rem;
    height: 2rem;
    background: linear-gradient(to right, #e41a43 0, #cd1514 15%, #cd1514 30%, #e41a43 55%, #e41a43 100%);
    background-position: 50%0;
    background-size: 200%;
    box-shadow: 0 5px 10px 0 rgba(93, 172, 129, .1), inset 0 0 3px 0#77b79a;
    color: #fff;
}


/* .btn-default, .btn-default-radius, .btn-default-xs {
    background: linear-gradient(to right,#e41a43 0,#cd1514 15%,#cd1514 30%,#e41a43 55%,#e41a43 100%);
    background-position: 50%0;
    background-size: 200%;
    box-shadow: 0 5px 10px 0 rgba(6,8,15,.1),inset 0 0 3px 0#ffdd8f;
    color: #fff;
} */

.main-nav {
    width: 100%;
    height: 2.75rem;
    border-top: 1px solid transparent;
    border-bottom: 0 solid transparent;
    background: #000000;
    text-align: center;
}

.main-nav .nav-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    /* width: 1200px; */
    height: 100%;
    margin: 0 auto;
}


.main-nav .back-index {
    flex: 0 0 20px;
}


.main-sub-nav .back-index {
    width: auto;
    min-width: auto;
    padding: 0;
}

.main-nav .nav-item.active,
.main-nav .nav-item:hover  {
    color:  #f04b51;
    fill: #f04b51;
    /* background: #f04b51; */
}

.main-nav .nav-item .icon-header:hover{
    color: #f04b51;
}

 a:hover {
    color: #f04b51;
}

.main-nav li {
    flex-grow: 1;
    float: none;
    height: 100%;
    padding-right: 1px;
    position: relative;
    width: 100% !important;
}

.header-container {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: #fff;
}
/* border inside of div make a 80 height */
.border-nav{
    height: 20px;
    /* width: 80px; */
    border: 1px solid rgb(247, 247, 247);
    /* border-radius: 50%; */
    display: inline-block;
    margin: 10px;
    /* padding: 10px; */
    background-color: #fff;
    box-shadow: 0 0 3px rgba(9, 13, 26, .4);
}