.swiper {
    width: 100%;
    height: 100%;
    /* transition: translate 500ms ease-in-out !important; */

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* swiper prop style */

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 10px !important;
    background: #c51017 !important;

    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    /* left: 302px; */
    right: -302px;
    width: 100%;
    margin-left: 530px;
    /* text-align: right; */
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    width: 16px;
    height: 16px;
}

.hero-banner {
    height: auto;
}


/* below hero marquee */
.post {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.875rem;
    background: rgba(102, 9, 12, .9);
    text-align: center;
}


.post .post-icon {
    position: absolute;
    padding-left: 1.5625rem;
    color: #f2f2f2;
}

.post .marquee,
.post .post-icon {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 1.875rem;
}

.post .post-icon::before {
    width: 18px;
    height: 16px;
    margin-top: 0.5rem;
    margin-left: -1.5625rem;
    background: url(/src/assets/img/marquee-w.svg)no-repeat center/contain;
}


.post .marquee,
.post a {
    color: rgba(255, 255, 255, .8);
}

.post .marquee {
    width: 73.125rem;
    height: 100%;
    margin-left: 1.875rem;
    overflow: hidden;
}


.post .marquee,
.post .post-icon {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 1.875rem;
}


.post .marquee ul {
    display: flex;
    flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.post .marquee ul li {
    padding-right: 1.25rem;
}

.post .marquee ul p {
    display: inline-block;
    white-space: nowrap;
}

/* below hero marquee end */