.swiper {
    width: 100%;
    height: 100%;
    /* transition: translate 500ms ease-in-out !important; */

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* swiper prop style */

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 10px !important;
    background: #c51017 !important;

    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    /* left: 302px; */
    right: -302px;
    width: 100%;
    margin-left: 530px;
    /* text-align: right; */
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    width: 16px;
    height: 16px;
}

.hero-banner {
    height: auto;
    z-index: 0;
}


/* below hero marquee */
.post {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.875rem;
    background: rgba(102, 9, 12, .9);
    text-align: center;
}


.post .post-icon {
    position: absolute;
    left: 275px;
    /* padding-left: -5.5625rem; */
    color: #f2f2f2;
}

.post .marquee,
.post .post-icon {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 1.875rem;
}

.post .post-icon::before {
    width: 18px;
    height: 16px;
    margin-top: 0.5rem;
    margin-left: -1.5625rem;
    background: url(/src/assets/img/marquee-w.svg)no-repeat center/contain;
}


.post .marquee,
.post a {
    color: rgba(255, 255, 255, .8);
}

.post .marquee {
    /* width: 73.125rem; */
    height: 100%;
    margin-left: 1.875rem;
    overflow: hidden;
}


.post .marquee,
.post .post-icon {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 1.875rem;
}


.post .marquee ul {
    display: flex;
    flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    /* width: fit-content; */
}

.post .marquee ul li {
    padding-right: 1.25rem;
}

.post .marquee ul p {
    display: inline-block;
    white-space: nowrap;
}


.marquee {
    z-index: 10;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* below hero marquee end */


/* Favorite */
.main-wrap-sport {
    padding: -21px;
    position: relative;
    background: #ad0e14;
}


.card-imgs{
    padding: -2px;
    /* height: 10%; */
    /* background-position: ; */
    background-size: cover;
}

.main-wrap-hotsport,
.main-wrap-iframe,
.main-wrap-slotgame,
.main-wrap-sport {
    margin-bottom: 0.75rem;
    border-radius: 3px;
    overflow: hidden;
}



/* .main-wrap,
.main-wrap-casino,
.main-wrap-hotsport,
.main-wrap-iframe,
.main-wrap-slotgame,
.main-wrap-sport {
    width: 594px;
    height: 24.5rem;
    border-top: 1px solid rgba(236, 28, 35, .7);
    background: no-repeat center;
} */

.favorites h3 {
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 3.125rem;
    /* padding-left: 1.25rem; */
    color: #fff;
    line-height: 3.125rem;
}


.main-wrap-sport .sport-event,
.main-wrap-sport .sport-event .slides {
    height: 21.375rem;
    overflow: hidden;
}

.main-wrap-sport .sport-event {
    position: relative;
    z-index: 2;
    width: 100%;
}

.navigation-1,
.navigation-2 {
    position: absolute;
    z-index: 1;
    top: 1.1875rem;
    width: 100%;
}

.navigation-1::before,
.navigation-2::before {
    top: -1.1875rem;
    right: 2.25rem;
    width: 1px;
    height: 24.5rem;
    opacity: .1;
    background: #fff;
}

.navigation-1::before {
    content: "";
    display: inline-block;
    position: absolute;
}

.content .container-1200 {
    display: inline-block;
    width: 75rem;
    text-align: left;
}

.navigation-1 a,
.navigation-2 a {
    width: 0.9375rem;
    height: 0.625rem;
    margin-right: 0.9375rem;
    transition: transform .5s cubic-bezier(.03, .98, .52, .99) .1s, background-position .3s;
    transition: transform .5s cubic-bezier(.03, .98, .52, .99) .1s, background-position .3s, -webkit-transform .5s cubic-bezier(.03, .98, .52, .99) .1s;
    background: no-repeat center;
    /* background-image: url(/images/v1/web/mb/icon-set/sport/sport-arrow.png); */
    background-position: 0 center;
    background-size: cover;
}



.main-wrap-sport .sport-event .slides {
    height: 21.375rem;
    overflow: hidden;
}

/* .main-wrap-sport .sport-event .slick-list, */
.main-wrap-sport .sport-event .slick-track {
    height: 100%;
}

.icon-direction{
    cursor: pointer;
}

/* Favorite end */