.body-font {
    width: 100%;
    margin: 50px auto 25px;
}


.breadcrumbs {
    position:relative;
    text-align: left;
    
}

.breadcrumbs ul{

    padding:0px;
}

.breadcrumbs a{

    color:#fff;
    text-decoration: none;
}

.breadcrumbs li {
    display: inline-block;
    text-align: left;
    font-size: medium;
}

.main_article {

display: flex;
gap: 10px;

}

.article_container a {

    text-decoration: none;
}

.article_container h2 {
    color: #fff;
    text-decoration: none;
    
    }
    
.article_container h3  {
font-size: 16px;
font-weight: 600;
color: #fff;

}

@media (max-width:600) {

    .breadcrumbs{
        margin-left: 2%;
    }
        
    }
    